body{
    background: url("pastel.jpg");
    background-size: 100%;
}
header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px white, 1px 1px 1px white, 1px 1px 1px white, 1px 1px 1px white;
}
header#bell{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px white, 1px 1px 1px white, 1px 1px 1px white, 1px 1px 1px white;
}
input#horario{
    text-align:center;
    font-size: 25pt;
    color:lawngreen;
    background-color:black;
    width:150px;
    margin-top: 10px;
}
input{
    position: static;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    margin-top: -100px;
    margin-left: 5px;
    box-shadow: 1px 1px 2px black;
    border: none;
    border-radius: 6px;
}
h1{
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 2px white, 1px 1px 2px white;
}
h1#array{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    text-shadow: 1px 1px 2px black;
    
}
h1#res{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    text-shadow: 1px 1px 2px black;
    margin-top: 0px;

}
div{
    background-color: rgba(255, 255, 255, 0.479);
    width: 500px;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 0px;
}

p#par{
    position: relative;
    top: -500px;
    left: 800px;
    background-color: white;
    width: 400px;
    font-size: 20px;
    padding: 5px;
    text-align: justify;
    box-shadow: 3px 3px 3px black;
    border-radius: 7px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input#um{
    margin-left:0px;
    margin-top: 20px;
    font-size:25pt;
}
input#dois{
    margin-left:90px;
    margin-top: 20px;
    font-size:25pt;
}
input#tres{
    margin-left:0px;
    margin-top: 20px;
    font-size:25pt;
}
input#quatro{
    margin-left:90px;
    margin-top: 20px;
    font-size:25pt;
}
input#cinco{
    margin-left:0px;
    margin-top: 20px;
    font-size:25pt;
}
input#seis{
    margin-left:90px;
    margin-top: 20px;
    font-size:25pt;
}
input#sete{
    margin-left:0px;
    margin-top: 20px;
    font-size:25pt;
}
input#oito{
    margin-left:90px;
    margin-top: 20px;
    font-size:25pt;
}
input#nove{
    margin-left:0px;
    margin-top: 20px;
    font-size:25pt;
}
input#dez{
    margin-left:90px;
    margin-top: 20px;
    font-size:25pt;
}
